aside{
    width: 3.125rem;
    background-color: var(--second-color);
    position: relative;

}


.mobile{
    display: block;
}

.desktop{
    display: none;
}

.special-nav{
   padding-top: 25rem; 
}
.width-nav{
    width: 100%;
}
.item{
    margin-left: .375rem;
    margin-top: .625rem;
    
}
.img-width{
    width: 1.25rem;
}
.width-nav .item{
    width: calc(100% / 1);
}

.position-under{
    position: relative;
}
   
.load-download{
    position: absolute;
    top: 25rem;
    width: 1.125rem ;
}
.load-profile{
    position: absolute;
    top: 30rem;
}


.img-load{
    width: 1.25rem;
    position: absolute;
    bottom: 15%;            
}

.img-profile{
display: block;
width: 1.5625rem;
height: 1.5625rem;
position: absolute;
bottom: 8%;
top: 22%;
margin: auto;
background-color: grey;;
border: 1px solid white;
border-radius: 50%;
}



 
