.grb{
    width: 13.75rem;
    height: 3.125rem;
    text-align: center;
    line-height: 100%;
    border: 1px solid white;
    border-radius: 1.25rem;
    background-color: var(--first-color);
    color: white;
}

.srb{
    width: 3.125rem;
    height: 3.125rem;
    background-color: var(--fourth-color);
    color: black;
    font-size: 3.4375rem;
    text-align: center;
    line-height: 3.125rem;
}