main{
    width: calc(100% - 50px);
    overflow-y: auto;
    background-color: var(--third-color);
}

/* PRIMA SECTION */
.width-nav .title-main{
    width: calc(100% / 4); 

}
.title-main{
    display: flex;
    justify-content: center;
    padding-right: .625rem;
    padding-top: 1.25rem;
    color:var(--fourth-color);
}

.title-setting {
    font-size: .8125rem;
    font-weight: 900;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    transition: border 5s;
}

.title-setting:hover{
    border-bottom: .125rem solid lime;
}

.title-setting:hover{
    cursor: pointer;
    color: white;
}

.title-margin{
   margin-left: 8.75rem; 
}
/* /PRIMA SECTION */
/* SECONDA SECTION  */
.big-title{
    padding-left: .625rem;
    font-size: 1.625rem;
    font-weight: 900;
    margin-top: 1.5625rem;
}

.width-nav .music-card{
    width: calc(100% / 2);
}
.music-card{
    padding:  0 .625rem;
    margin-top: 1.25rem;
}
.music{
    padding: .125rem 0;
}
h3{
    color: white;
    font-size: 1.25rem;    
}

small{
    color: var(--fourth-color);
    font-size: .9375rem;
    line-height: 2.1875rem;
}

h3, small{
    font-weight: var(--font-bold);
   
}

.hover-cursor{
    transition: color 2s;
}

.hover-cursor:hover{
    color: white;
}
/* /SECONDA SECTION  */

/* FINE MAIN */
.small-margin{
    padding-left: .625rem;
}
/* /FINE MAIN */


