@import url(reset.css);
@import url(var.css);
@import url(common.css);
@import url(button.css);
@import url(header.css);
@import url(aside.css);
@import url(main.css);
@import url(footer.css);
@import url(responsive.css);

body{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

.page-container{
    display: flex;
    height: calc(100% - 2.5rem);
}